<!DOCTYPE html>
<html>
<head>
    <title>Flask Input</title>
</head>
<body>
    <h1>Summarize 10-K filings Data</h1>
    <form method="post">
        <label for="user_input">Enter your text:</label><br>
        <input type="text" id="user_input" name="user_input"><br><br>
        <label for="processing_option">Select what part you wish to analyse:</label>
        <select id="processing_option" name="processing_option">
            <option value="financial">Financial</option>
            <option value="general">General</option>
            <option value="both">Both</option>
        </select><br><br>
        <input type="submit" value="Submit">
    </form>
    {% if llm_output %}
    <h2>Output:</h2>
    {{ llm_output | safe}}
    {% endif %}
</body>
</html>
